@page
@model CvdMdlr.Pages.DocumentationModel
@{
}
<div id="main-wrapper">
    <div class="wrapper style1">
        <div class="inner">
            <section class="container box feature1">
                <h2>Documentation</h2>
                <a href="https://covidtracking.com/">APIs</a>
                <br />
                <a href="https://vega.github.io/editor/#/">Vega</a>
                @*<a href="">content</a>
                <a href="">content</a>
                <a href="">content</a>
                <a href="">content</a>
                <a href="">content</a>
                <a href="">content</a>*@
            </section>
        </div>
    </div>
</div>